*
{
    --blue: #5879dc;
    --white: #fafafa;
    --orange: #e8673f;
    --black: #19263b;
    font-size: 1.1rem;
}

body
{
    background-color: var(--black);
}
p, a, form
{
    color: var(--white);
    text-decoration: none;
}
.titulo
{
    color: var(--orange);
    font-size: 3.5rem;
    
}
h2, h3
{
    color: var(--orange);
}

.button{

    border:none;
    border-radius: 2px;
    background: var(--orange);
    color: var(--white);

    transition: filter .2s;
    cursor: pointer;

    margin-top: .2%;
}

button:hover, .button:hover{
    filter: brightness(1.2)
}
.slogan{
    color: var(--orange);
    font-size: 4.5rem;
}