<%- include("header.ejs")%>

    <div class="container mx-auto">
        <header>
            <div class="row mt-3">
                <div class="col-sm-3">
                    <a href="/"><img src="../imagens/logoOnMove.jpg" style="border-radius: 4px;" width="75%"></a>
                </div>
                <div class="col-sm-9 px-0 align-self-center">
                    <h1 class="titulo text-uppercase">Aperte o play e tenha o seu cinema em casa</h1>
                </div>
            </div>
            <%- include("nav.ejs")%>

        </header>
        <section class="container">
            <div id="carrinhoProdutos">
                <h2 class="mt-4 mb-4">Meu carrinho</h2>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row text-white border-bottom">
                            <div class="col-sm-3  mt-4 mb-4">Produtos</div>
                            <div class="col-sm-2  mt-4 mb-4">Qtd</div>
                            <div class="col-sm-2  mt-4 mb-4">Preço</div>
                            <div class="col-sm-2  mt-4 mb-4">Telas</div>
                        </div>
                        <!--Tabela Produtos-->
                        <div id="tabela" class="text-white"></div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-sm-12 mt-4 mb-4 text-white">Resumo do Pedido</div>
                        <div class="w-100" style="border: 1px solid #f58139;; border-radius: 10px;">
                            <div class="text-white">
                                <div id="somaqtde" class="col-sm-12 mt-4"></div>
                                <div id="total" class="col-sm-12 mt-4"></div>
                                <div class="col-sm-12">
                                    <span id="cupom" style="display: none; color:#f58139;">Desconto: R$</span><button
                                        class="button ml-2 mb-3 pt-0 pb-0" id="apagarCupom"
                                        style="display: none; width: 30px;">-</button>
                                    <input type="text" name="cupom" id="aplicarCupom"
                                        style="border: 1px solid #f58139; border-radius: 3px; width:150px; height: 45px;">
                                    <button class="button pt-2" id="btAplicar">Aplicar</button>
                                </div>
                                <div class="col-sm-12 mt-4">
                                    <button class="button" id="btContato" type="button">Continuar</button>
                                </div>
                                <div class="col-sm-12 mt-4 mb-2"><a href="/produtos">Adicionar mais produtos</a></div>
                                <div id="esvaziarCarrinho" class="col-sm-12 mb-4"><a href="#">Esvaziar carrinho</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row mt-4">
                <div class="col-sm-4">
                    <a href="/singleDeProduto"><img src="../imagens/acao2.jpg" class="img-thumbnail"></a>
                </div>
                <div class="col-sm-4 text-center">
                    <a href="/singleDeProduto"><img src="../imagens/comedia.jpg" class="img-thumbnail"></a>
                </div>
                <div class="col-sm-4 text-right">
                    <a href="/singleDeProduto"><img src="../imagens/terror2.jpg" class="img-thumbnail"></a>
                </div>
            </div>
        </section>
<script src="../js/carrinho.js"></script>
<%- include("footer.ejs")%>
