<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilo.css" type="text/css">
    <link rel="icon" type="imagem/png" href="imagens/logo.png" />
    <title>OnMovies 
    </title>
</head>

<body>