<%- include("header.ejs")%>
<%- include("nav.ejs")%>
        <section>
            <h2 class="text-center">Login</h2>
            <form id="formLogin" class="w-50 mx-auto p-3 mt-4" method="post"
                style="border: 2px solid #e8673f; border-radius: 10px ;" action="">
                <fieldset>
                    <legend>Preencha os campos</legend>
                    <div class="form-group">
                        <label>E-mail:<span style="color:red ;">*</span> <br></label>
                        <input class="form-control" name="email" id="emailContato" type="email">
                    </div>
                    <div class="form-group">
                        <label>Senha:<span style="color:red ;">*</span><br> </label>
                        <input class="form-control" name="senha" id="senhaContato" type="password" maxlength="8">
                    </div>
                    <div class="form-group">
                        <button class="button" id="btContato" type="button">Confirmar</button>
                    </div>
                </fieldset>
            </form>
            <div class="text-center mt-4 text-uppercase">
                <a href="/cadastro">Cadastre-se agora</a>
            </div>
        </section>
<script src="../js/login.js"></script>
<%- include("footer.ejs")%>

