<%- include("./header.ejs")%>
<%- include("nav.ejs")%>
<section class="text-center">
    <p class="mt-4 mb-4">Ops! E-mail ou senha não conferem <img src="/imagens/anxious.png" width="40px" alt=""> </p>
    <a  href="/login">Voltar</a>
</section>
<%- include("footer.ejs")%>