<div class="modal fade mt-5" id="modal-mensagem">
    <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-body">
                 <p class="mensagem text-dark"></p>
             </div>
             <button type="button" class="close mb-3 pr-3 text-right" style="color:#db5501 ;" data-dismiss="modal">Fechar</button>
         </div>
     </div>
 </div>