<div class="modal fade mt-5" id="modal-confirmAll">
    <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-body">
                 <p class="mensagem text-dark"></p>
             </div>
             <div class="modal-footer">
                <button type="button" class="close mb-3 pr-3 text-right" data-dismiss="modal">Fechar</button>
                <button type="button" class="button confirmarBotaoAll">Confirmar</button>
              </div>
         </div>
     </div>
 </div>