<nav class="navbar mt-4 mb-3 justify-content-around"
style="background-color: var(--orange);border-radius: 4px;">
<a class="navlink" href="/produtos ">PRODUTOS</a>
<a class="navlink" href="/contato ">CONTATO</a>
<a class="navlink" href="/promocoes ">PROMOÇÕES</a>
<a class="navlink" href="/carrinho ">CARRINHO</a>
<a class="navlink" href="/cadastro ">CADASTRO</a>
<a class="navlink" href="/perfilUsuario ">PERFIL</a>
<a class="navlink" href="/adm">ADM</a>
</nav>