<%- include("headerAdm.ejs")%>

    <div class="container mx-auto">
        <header>
            <div class="row mt-3 text-center">
                <div class="col-sm-12 px-0 align-self-center">
                    <a href="/adm"><img src="../../imagens/logoOnMove.jpg" style="border-radius: 4px;" width="18%"></a>
                    <h1 class="titulo text-uppercase mt-4">Cadastro de Filmes</h1>
                </div>
            </div>

        <section class="container ">
            <form class="w-50 mx-auto p-3 mt-4 mb-5" style="border: 2px solid #e8673f; border-radius: 12px"
                id="formCadastro" method="post" action="">
                <fieldset>
                    <div class="form-group">
                        <label>Título:<span style="color:red ;">*</span></label>
                        <input class="form-control" name="nomeFilme" type="text" maxlength="70">
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label>Ano:<span style="color:red ;">*</span> </label> <br>
                            <input class="form-control" name="anoFilme" type="number" maxlength="4">
                        </div>
                        <div class="form-group col-sm-9">
                            <label>Categoria:<span style="color:red ;">*</span></label> <br>
                            <input class="form-control" name="categoria" type="text" maxlength="30">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <label>Capa do filme:<span style="color:red ;">*</span></label></br>
                            <label for="capa" class="button p-2">Selecionar imagem</label>
                            <input type="file" name="capaFilme" id="capa" onchange="readURL(this);">
                            <div>
                                <img id="previewImagem" name="capaFilme" src="" class="img-thumbnail"
                                    style="width:59%; display: none;">
                            </div>
                        </div>
                        <div class="col-7 mb-3">
                            <label>Sinopse:<span style="color:red ;">*</span></label> <br>
                            <textarea class="form-control p-3" rows="10" name="descricao"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="promo">Adicionar a lista de promoções?<span style="color:red ;">*</span></label>
                        </br><input type="radio" value="1" id="promo_sim" name="promo"> Sim
                        <input type="radio" value="0" checked id="promo_nao" name="promo"> Não
                    </div>
                    <div class="mb-3">
                        <label>Trailer:<span style="color:red ;">*</span></label>
                        <input class="form-control" name="trailer" type="text" maxlength="60">
                    </div>
                    <button class="button" id="btCadastro" type="button">Salvar</button>
    </div>
    </fieldset>
    </form>
    </section>
    <script src="../../administrador/js/cadastro-prod.js"></script>
    <%- include("../footer.ejs")%>
