<%- include("headerAdm.ejs")%>

    <div class="container mx-auto">
        <header>
            <div class="row mt-3 text-center">
                <div class="col-sm-12 px-0 align-self-center">
                    <a href="/adm"><img src="../../imagens/logoOnMove.jpg" style="border-radius: 4px;" width="18%"></a>
                    <h1 class="titulo text-uppercase mt-4">Cadastro Administrador</h1>
                </div>
        </div>
        <section class="container">
            <p class="text-center"></p>
            <form class="w-50 mx-auto p-3 mt-4 mb-5" style="border: 2px solid #e8673f; border-radius: 12px"
                id="formCadastro" method="post" action="/adm">
                <fieldset>
                    <legend>Preencha os dados de cadastro</legend>
                    <div class="form-group">
                        <label>Nome:<span style="color:red ;">*</span></label>
                        <input class="form-control" id="nome" name="nome-contato" type="text" maxlength="50">
                    </div>
                    <div class="form-group">
                        <label>E-mail:<span style="color:red ;">*</span> </label> <br>
                        <input class="form-control" id="email" name="email-contato" type="email">
                    </div>
                    <div class="form-group">
                        <label>Senha:<span style="color:red ;">*</span></label> <br>
                        <input class="form-control" id="senha" name="senha" type="password" maxlength="8">
                    </div>
                    <div class="form-group">
                        <label>Confirmar Senha:<span style="color:red ;">*</span> </label> <br>
                        <input class="form-control" id="confirmarSenha" name="confirmar-senha" type="password"
                            maxlength="8">
                    </div>
                    <p>Escolha o tipo de administrador:<span style="color:red ;">*</p>
                    <Select class="mb-4" name="nivel">
                        <option value="1">Basic</option>
                        <option value="2">Master</option>
                    </Select>
                    <div>
                        <button class="button" id="btCadastro" type="button">Salvar</button>
                    </div>
                </fieldset>
            </form>
        </section>
       
<script src="../../administrador/js/cadastro-adm.js"></script>

<%- include("../footer.ejs")%>