<%- include("headerAdm.ejs")%>

<!--   <div class="container mx-auto">
        <header>
            <div class="row mt-3">
                <div class="col-sm-3">
                    <a href="/adm"><img src="../imagens/logoOnMove.jpg" style="border-radius: 4px;" width="75%"></a>
                </div>
                <div class="col-sm-6 px-0 text-center align-self-center">
                    <h1 class="titulo text-uppercase">Painel do Administrador</h1>
                </div>
                <div class="col-sm-3 text-right">
                    <span class="text-white" id="bemVindo">
                        <%=info.user%>
                    </span>
                    <%if(!info.user){ %>
                        <a id="entrar" class="text-entrar" href="/login">ENTRAR</a>
                        <% } %>
                            <%if(info.user){ %>
                                <a class="ml-1" style="cursor:pointer;" id="sair" href="/logout"><img
                                        src="../imagens/logout.png" width="10%"></a>
                                <% } %>
                </div>
            </div> -->
        
<%- include("navAdm.ejs")%>

    <section class="container">
        <p>Controle seu Business por aqui! Veja relatórios, análises, permissões de usuários e cadastro de filmes.
        </p>
        <div class="mt-4 mb-4">
            <div class="row text-center">

    </section>
<!--<script src="../../adm/js/index-adm.js"></script>-->
<%- include("../footer.ejs")%>