<%- include("headerAdm.ejs")%>
<%- include("navAdm.ejs")%>

    <section class="container">
        <p>Controle seu Business por aqui! Veja relatórios, análises, permissões de usuários e cadastro de filmes.
        </p>
        <div class="mt-4 mb-4">
            <div class="row text-center">

    </section>
<!--<script src="../../adm/js/index-adm.js"></script>-->
<%- include("../footer.ejs")%>