
        <nav class="navbar mt-4 mb-3 justify-content-around" style="background-color: var(--orange);border-radius: 4px;">
            <a class="navlink" href="/adm/cadastroProdutos">CADASTRO PRODUTOS</a>
            <a class="navlink" href="/adm/cadastro">CADASTRO ADMINISTRADOR</a>
            <a class="navlink" href="/adm/dashboard">RELATÓRIO COMERCIAL</a>
            <a class="navlink" href="/adm/relatorioChamadas">RELATÓRIO CHAMADAS</a>
            <a class="navlink" href="/gerenciaPromocoes">GERENCIAR PRODUTOS</a>
            <a class="navlink" href="/adm/relatorioProdutos">RELATÓRIO PRODUTOS</a>
            <a class="navlink" href="/">USUÁRIO</a>
        </nav>
    </header>