<%- include("headerAdm.ejs")%>
            
<%- include("navAdm.ejs")%>

        <section class="container mx-auto">
            <div class="row justify-content-between">
                <div id="carrinhoProdutos" class="col-sm-8" style="border: 2px solid #e8673f; border-radius: 10px ;">
                    <div class="row mt-2">
                        <h1 class="col-sm-12 text-center titulo">Relatório de Chamadas</h1>
                    </div>
                    <div class="row text-center">

                        <p class="col-sm-3">Cliente</p>
                        <p class="col-sm-3">Email</p>
                        <p class="col-sm-3">Telefone</p>
                        <p class="col-sm-3">Assunto</p>
                    </div>
                    <hr style="background-color:#e8673f;">
                    <div id="clientesAtendidos"></div>
                    <div class="row justify-content-center">
                        <div class="col-sm-6">
                            <p>Próximo cliente a ser atendido:</p>
                            <p id="proximoCliente"></p>
                        </div>
                        <div class="col-sm-6 mb-3 text-right">
                            <button class=" button" id="btConfirmar">Confirmar atendimento</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 pt-2" style="border: 2px solid #e8673f; border-radius: 10px ;">
                    <p class="pt-3" style="color: #f58139; font-size: 25px;">Chamadas atendidas</p>
                    <p id="totalAtendidos">Total:</p>
                    <hr style="background-color:#e8673f;">
                    <p style="color: #f58139; font-size: 25px;">Chamadas pendentes</p>
                    <p id="totalPendentes">Total:</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-4">
                    <a href="/singleDeProduto"><img src="../../imagens/acao2.jpg" class="img-thumbnail"></a>
                </div>
                <div class="col-sm-4 text-center">
                    <a href="/singleDeProduto"><img src="../../imagens/comedia.jpg" class="img-thumbnail"></a>
                </div>
                <div class="col-sm-4 text-right">
                    <a href="/singleDeProduto"><img src="../../imagens/terror2.jpg" class="img-thumbnail"></a>
                </div>
            </div>
        </section>
<script src="../../administrador/js/relatorio-chamadas.js"></script>
<%- include("../footer.ejs")%>
